    <div class="col-sm-12" style="display:block;background-color:#070707">
        <p style="color:#ffeb3b;" class="col-sm-offset-4 col-xs-offset-3">
            <br/>
           Designed by
            <a style="text-decoration:none !important;color:#ffeb3b !important;" target="_blank" href="http://www.twitter.com/alammahtab08">
                @alammahtab08
            </a> and licensed under Creative Commons Attribution 3.0
        </p>
    </div>
