<div class="navbar navbar-custom navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>

			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/"
						style="font-family: myFirstFont; font-size: 20px">Who am I</a></li>
						
					<li><a href="/achievements"
						style="font-family: myFirstFont; font-size: 20px">Achievements</a></li>
						
					<li><a href="/booksRead"
						style="font-family: myFirstFont; font-size: 20px">Books Read</a></li>
						
						<li><a href="/life"
						style="font-family: myFirstFont; font-size: 20px">Life</a></li>	
					<!--	
						<li><a href="/tech-over-tea"
						style="font-family: myFirstFont; font-size: 20px">Tech over Tea</a></li>						
						
					<li><a href="/saySomething"
						style="font-family: myFirstFont; font-size: 20px">Say
							Something</a></li>
                    -->
                    
				</ul>
			</div>

		</div>
	</div>