<html>


    <head>
        <title>404 : File Not Found</title>
        <% include partials/cssIncludes.ejs %>
    </head>


    <body style="background-color:#ffeb3b">

      <% include partials/menu.ejs %>
       <br/> <br/><br/><br/><br/>

      <div class="container">

        <div class="row">
     <p  style="font-size:20px">
    Oh shit, you got us . The page you are looking for, is moved but you might like to start from
    <a class="plainLink" href="/">here</a>. Sorry for annoyance !!!
     </p>
   </div>
   <br/><br/>
     <div class="row text-center">
        <img  src="/images/404-image.jpg"></img>
   </div>

      </div>
        <br/><br/> <br/>

      <!--  <% include partials/footer.ejs %>
        <% include partials/jsIncludes.ejs %>   -->
    </body>




</html>
