<html>


    <head>
        <title>Videokart : Memories that lasts forever</title>
        <% include partials/cssIncludes.ejs %>
    </head>


    <body style="background-color:#ffeb3b">

      <% include partials/menu.ejs %>
      <br/> <br/><br/><br/><br/>

      <div class="container">
        <div class="row text-center">
         <p style="font-size:150px">500</p>
        </div>

       <div class="row text-center">
          <p  style="font-size:20px">
           Looks like application was not able to process your request, why don't you try again ...
          </p>
      </div>
      <br/><br/>


      </div>
       <br/><br/> <br/>

    </body>




</html>
