<html>


    <head>
        <title>Videokart : Memories that lasts forever</title>
        <% include partials/cssIncludes.ejs %>
        <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
    </head>


    <body style="background-color:#ffeb3b">

      <% include partials/menu.ejs %>


      <div class="container">
        <br/><br/><br/><br/>
        <p align="center" style="font-size: 40px">
                   Stunning videos at 100 <span class="WebRupee">Rs</span>
        </p>
        <br/><br/>

        <div class="row">
          <div class="col-md-6">
           <iframe width="560" height="315"
                src="https://www.youtube.com/embed/edCniHS8oZg" frameborder="0" allowfullscreen>
           </iframe>

           <a  href="/buy?type=mosaic-photo-reveal" style="margin-left:250px;margin-top:10px"
              type="button" class="btn btn-primary">
             Buy Now</a>
           </div>

           <div class="col-md-6">
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/2aNCy_o0V48" frameborder="0" allowfullscreen>
           </iframe>
           <a  href="/buy?type=photomotion-after-effects" style="margin-left:250px;margin-top:10px"
              type="button" class="btn btn-primary">
             Buy Now</a>
           </div>
        </div>

            <br/><br/>




          <div class="row">
            <div class="col-md-6">
            <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/BsiuQnHHexQ" frameborder="0" allowfullscreen>
            </iframe>
            <a  href="/buy?type=wedding-cherry-blossom" style="margin-left:250px;margin-top:10px"
               type="button" class="btn btn-primary">
              Buy Now</a>
            </div>

             <div class="col-md-6">
             <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/7EmgsPlBt4c" frameborder="0" allowfullscreen>
             </iframe>

             <a  href="/buy?type=lantern-night-photo-gallery" style="margin-left:250px;margin-top:10px"
                type="button" class="btn btn-primary">
               Buy Now</a>
             </div>

             </div>



           <br/><br/>


           <div class="row">
        <div class="col-md-6">
       <iframe width="560" height="315"
               src="https://www.youtube.com/embed/vuH4S8J94wA" frameborder="0" allowfullscreen>
       </iframe>

       <a  href="/buy?type=wedding-slideshow" style="margin-left:250px;margin-top:10px"
          type="button" class="btn btn-primary">
         Buy Now</a>
       </div>


        <div class="col-md-6">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/ddunidSO9fM" frameborder="0" allowfullscreen>
        </iframe>
        <a  href="/buy?type=after-effects-photo-gallery" style="margin-left:250px;margin-top:10px"
           type="button" class="btn btn-primary">
          Buy Now</a>
      </div>
        </div>

            <br/><br/>

      </div>


        <br/><br/> <br/><br/> <br/><br/>

        <% include partials/footer.ejs %>
        <% include partials/jsIncludes.ejs %>
    </body>




</html>
