<html>


    <head>
        <title>Videokart : Memories that lasts forever</title>
        <% include partials/cssIncludes.ejs %>
    </head>


    <body style="background-color:#ffeb3b">

      <% include partials/menu.ejs %>


      <div class="container">




       <section id="who-we-are">
           <br/><br/><br/><br/>
         <div class="row">
             <h3 style="font-size:50px;font-weight:bold;text-align:center">
                 Videokart ...</h3>
         </div>
         <div class="row">
           <div class="col-md-offset-2 col-md-6">
           <iframe class="actAsDiv" width="800" height="450"
           src="//player.vimeo.com/video/194199488?title=1&amp;byline=0&amp;portrait=0&amp;color=EBDDDD&amp;autoplay=0&amp;loop=0&amp;wmode=transparent"
           frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
         </iframe>
       </div>
            <!-- <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:30px;align:center">
                 We are God consicous people who believe that if you can do good for someone then its your duty to do it. We give people memories that lasts forever. </p>
             </div>
           -->
         </div>

        </section>


       <section id="what-we-do">
           <br/><br/><br/><br/><br/><br/><br/><br/><br/>
         <div class="row">
            <h3 style="font-size:50px;
                        font-weight:bold;text-align:center">What we do ...</h3>
          </div>
          <div class="row">
             <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:30px;align:center">
                 We  create stunning videos for events be it a marriage,
                 birthday, farewell, product promotion. We always love to go an extra mile to give the best, because for us it's more than a job it's a passion. </p>
             </div>
           </div>
        </section>

        <section id="how-it-works">
            <br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <div class="row">
             <h3 style="font-size:50px;
                         font-weight:bold;text-align:center">How it works ...</h3>
           </div>
           <div class="row">
              <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                 <p style="font-size:30px;align:center">
                  Select the type of video you want, upload the zip file containing all the images
                  that you want to see in your video, pay our wage and finished video will be
                  made available to you within 1 day. </p>
              </div>
            </div>
         </section>


        </div>
        <br/><br/> <br/><br/> <br/><br/>

        <% include partials/footer.ejs %>
        <% include partials/jsIncludes.ejs %>
    </body>




</html>
