<html>
    
    
    <head>
        <title>Videokart : stunning videos at cheapest price</title>
        <% include partials/cssIncludes.ejs %>
    </head>
    
    
    <body>
    <br/>
        
    
        <div class="container">            
            <h3 align="center" style="font-family: myFirstFont; font-size: 60px">
                Videokart : stunning videos at cheapest price
            </h3>
            <br/><br/>
        <div class="row">
        <div class="col-md-6">
        <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/edCniHS8oZg" frameborder="0" allowfullscreen>             </iframe>
        </div>
            
        <div class="col-md-6">
        <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/2aNCy_o0V48" frameborder="0" allowfullscreen>               </iframe>
             
        </div>             
        </div>  
            
            <br/><br/>
            
        <div class="row">
        <div class="col-md-6">
        <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/BsiuQnHHexQ" frameborder="0" allowfullscreen>             </iframe>
        </div>
            
        <div class="col-md-6">
        <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/7EmgsPlBt4c" frameborder="0" allowfullscreen>             </iframe>
        </div>    
          
            </div>
            <br/><br/>
            
         <div class="row">
        <div class="col-md-6">
       <iframe width="560" height="315" 
               src="https://www.youtube.com/embed/vuH4S8J94wA" frameborder="0" allowfullscreen>              </iframe>
        </div>
            
        <div class="col-md-6">
        <iframe width="560" height="315" 
                src="https://www.youtube.com/embed/ddunidSO9fM" frameborder="0" allowfullscreen>             </iframe>
        </div>
        </div>
            
            <br/><br/><br/>
            <h3 align="center">&copy; 2016 : No Rights Reserved </h3>
            <br/>
        </div>    
    
    </body>




</html>