<html>
    
    
    <head>
        <title>Videokart : Memories that lasts forever</title>
        <% include partials/cssIncludes.ejs %>
    </head>
    
    
    <body style="background-color:#ffeb3b">
        
      <% include partials/menu.ejs %>
      
       
    
      <div class="container">            
           
            
       <section id="whoWeAre">
           <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
         <div class="row">
             <h3 style="font-size:50px;
                        font-weight:bold;text-align:center">
                 Who we are ...</h3>
         </div>    
         <div class="row">
             <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:30px;align:center">
                 We are God consicous people who believe that if you can do good for someone than its your duty to do it. We give people memories that lasts forever. </p>
             </div>
         </div>
            
        </section>
            
            
       <section id="whatWeDo">
           <br/><br/><br/><br/><br/><br/><br/><br/>
         <div class="row">
            <h3 style="font-size:50px;
                        font-weight:bold;text-align:center">What we do ...</h3>
          </div>    
          <div class="row">
             <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:30px;align:center">
                 We  create stunning videos for events be it a marriage, 
                 birthday, farewell, product promotion. We always love to go an extra mile to give the best, because for us it's more than a job it's a passion. </p>
             </div>
           </div> 
        </section>
            
            
        </div>
        <br/><br/> <br/><br/> <br/><br/>
    
        <% include partials/footer.ejs %>
        <% include partials/jsIncludes.ejs %>
    </body>




</html>