<html>


    <head>
        <title>Videokart : Memories that lasts forever</title>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
        <% include partials/cssIncludes.ejs %>
    </head>


    <body style="background-color:#ffeb3b">

      <% include partials/menu.ejs %>

<br/><br/><br/><br/>
      <div class="container">

            <div class="row">
                 <div class="text-center">
                 <img class="col-sm-offset-5 img-responsive img-rounded" src="/images/oops.gif"/>
                </div>
            </div>
           <br/><br/>
	      	<div class="row">
                 <div class="text-center">
                   <h3> Oops ... , there was some problem processing your order</h3>
                   <br/>
                   <h4> Please <a class="plainLink" href="/gallery">try again</a> </h4>
                 </div>
		      </div>


	    </div>
        <br/><br/> <br/>

        <!--<% include partials/footer.ejs %>-->
        <% include partials/jsIncludes.ejs %>
    </body>

</html>
